{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/posts.css') }}">
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block body %}
    <main class="posts-container">
        <div class="posts">
            {% for post in posts %}
                <div class="post">
                    <div class="post__header">
                        {{ post.title }}
                        {% if current_user == post.user %}
                            <a href="{{ url_for('posts_app.update', post_id=post.id) }}" class="edit-btn">Редактировать</a>
                        {% endif %}
                    </div>
                    <div class="post__body">
                        <div class="post__image">
                            {% if post.image_url %}
                                <img src="{{ post.image_url }}" alt="">
                            {% else %}
                                <img src="{{ url_for('static', filename='car-icon-md.png') }}" alt="">
                            {% endif %}
                        </div>
                        <div class="post__text">
                            {{ post.text[:500] }}...
                            <a href="{{ url_for('posts_app.post', post_id=post.id) }}">Читать полностью</a>
                        </div>
                    </div>
                    <div class="post__footer">
                        <span>Добавлено пользователем {{ post.user.username }}, {{ post.created.strftime('%d.%m.%Y %H:%M') }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
