{% extends 'base.html' %}

{% block title %}Добавление поста{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <form method="post" action="{{ url_for('posts_app.create') }}" enctype="multipart/form-data">
                {{ form.csrf_token }}
                {% for field in form if field.name != 'csrf_token' %}
                    <div class="form-group">
                        <label>{{ field.label }}</label>
                        {% if field.name != 'image' %}
                            {{ field(class_='form-control') }}
                        {% else %}
                            {{ field(class_='form-control-file') }}
                        {% endif %}
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-success btn-block">Сохранить</button>
            </form>
        </div>
    </div>
{% endblock %}