{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/posts.css') }}">
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block body %}
    <div class="posts-container">
        <div class="post-form">
            <form method="post">
                {{ form.csrf_token }}

                <div class="post-form__body">
                    {% for field in form if field.name != 'csrf_token' %}
                        <div class="post-form__row">
                            <div class="post-form__label">
                                {{ field.label }}
                            </div>
                            <div class="post-form__field">
                                {{ field }}
                            </div>
                            {% if field.name == 'image_url' %}
                                <div class="post-form__image{% if field.data == None %} hidden{% endif %}">
                                    <img src="{{ field.data }}" alt="">
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>

                <div class="divider"></div>

                <div class="post-form__footer">
                    <input type="submit" class="submit" value="Сохранить">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        const imageUrl = document.querySelector('#image_url');
        imageUrl.addEventListener('focusout', function () {
            if (imageUrl.value.length > 0) {
                const formImage = document.querySelector('.post-form__image');
                const image = formImage.querySelector('img');
                image.src = imageUrl.value;
                formImage.classList.remove('hidden');
            }
        })
    </script>
{% endblock %}