.submit {
  padding: 0.375rem 0.75rem;
  color: #ffffff;
  text-shadow: 1px 1px 4px black;
  background-color: #00ff5f;
  border-color: transparent;
  border-radius: 0.25rem;
}

.submit:hover {
  background-color: #00d94d;
}

.submit:focus {
  outline: 0;
}

.edit-btn {
  position: absolute;
  right: 5px;
  top: 0.8rem;
  font-size: 0.75rem;
}
