.posts-container {
  display: flex;
  justify-content: center;
}

.posts {
  width: 50%;
}

.post {
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
}
.post .post__header {
  position: relative;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bolder;
  border-bottom: 1px solid #ced4da;
}
.post .post__body {
  display: flex;
  max-height: 200px;
}
.post .post__body .post__image {
  width: 33.333%;
  padding: 0.25rem;
  border-right: 1px solid #ced4da;
}
.post .post__body .post__image img {
  border-radius: 0.25rem;
  max-width: 100%;
}
.post .post__body .post__text {
  width: 66.666%;
  padding: 0.25rem;
  font-size: 0.9rem;
  overflow-wrap: anywhere;
}
.post .post__footer {
  border-top: 1px solid #ced4da;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
}

.post-form {
  background-color: white;
  border-radius: 0.25rem;
  padding: 2rem;
  width: 50%;
}
.post-form .post-form__row {
  margin-bottom: 1rem;
}
.post-form .post-form__label {
  font-weight: bolder;
}
.post-form .post-form__field input, .post-form .post-form__field textarea {
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.5rem;
  box-sizing: border-box;
}
.post-form .post-form__image {
  max-width: 250px;
  margin-top: 0.5rem;
}
.post-form .post-form__image.hidden {
  display: none;
}
.post-form .post-form__image img {
  width: 100%;
  border-radius: 0.25rem;
}
.post-form .post-form__footer {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
}

.post-card {
  width: 50%;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.post-card .post-card__header {
  padding: 0.5rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bolder;
  border-bottom: 1px solid #ced4da;
}
.post-card .post-card__body {
  padding: 2rem;
}
.post-card .post-card__body .post-card__image img {
  width: 100%;
  margin-bottom: 1rem;
}
