{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/users.css') }}">
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block title %}
    Профиль пользователя {{ user.username }}
{% endblock %}

{% block body %}
    <div class="user-card-container">
        <div class="user-card">
            <div class="user-card__header">
                <span>Профиль пользователя <strong>{{ user.username }}</strong></span>
            </div>
            <div class="user-card__body">
                <div class="user-card__row">
                    <label class="user-card__label">Логин</label>
                    <input type="text" readonly class="user-card__field" value={{ user.username }}>
                </div>
            </div>
        </div>
    </div>
{% endblock %}