{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock %}

{% block body %}
    <div class="auth-wrapper">
        <div class="auth-card">
            <div class="auth-card__header">{% block header %}{% endblock %}</div>
            <form method="post">
                {{ form.csrf_token }}
                <div class="auth-card__body">
                    {% if form.errors %}
                        <div class="auth-card__errors">
                            {% for field in form.errors %}
                                {% for error in form.errors[field] %}
                                    <span class="auth-card__error">{{ error }}</span>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% for field in form if field.name != 'csrf_token' %}
                        <div class="auth-card__row{% if loop.last %} mb-0{% endif %}">
                            <div class="auth-card__label">
                                {{ field.label }}
                            </div>
                            <div class="auth-card__input">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="divider"></div>

                <div class="auth-card__footer">
                    {% block footer %}{% endblock %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}